[user]
  name  = Kazuki Taniguchi
  email = kzk018@gmail.com

[core]
  excludesfile = ~/.gitignore

[alias]
  st = status --short --branch
  ci = commit
  df = diff
  co = checkout
  b  = branch
  sb = submodule
  l  = log --decorate --stat
  lg = log --graph --decorate --oneline
  cp = cherry-pick

[credential]
  helper = osxkeychain

[color]
  ui = true
  diff = true

[diff]
  renames = true
[ghq]
  root = ~/.ghq
